@import "tailwindcss";

@theme {
  --color-purple-blue: oklch(58.7% 0.204 277.8);
  --color-black: oklch(8% 0.015 260);
  --color-deep-navy: oklch(10.2% 0.08 270);
  --color-soft-lavender: oklch(78.9% 0.075 293.2 / 68%);
  --color-dark-grey: oklch(71% 0.04 256.83);
}

html,
body {
  background: var(--color-soft-lavender);
  height: 100%;
  width: 100%;
}
